@model koupit_products_manager.Models.Attribute

@{
    ViewData["Title"] = "Delete Attribute";
}

<h2>Delete Attribute</h2>

<div>
    <h4>Are you sure you want to delete this attribute?</h4>
    <dl class="row">
        <dt class="col-sm-2">
            Id
        </dt>
        <dd class="col-sm-10">
            @Model.Id
        </dd>
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            Pretty Name
        </dt>
        <dd class="col-sm-10">
            @Model.PrettyName
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Delete" class="btn btn-danger"/> |
        <a asp-action="Index">Cancel</a>
    </form>
</div>